
.shopping-cart-container {
    width: 385px;
    background-color: #F0F0F0;
    padding-left: 25px;
    padding-right: 25px;
    height: 100%;
    overflow: auto;
}

.shopping-cart-title {
    color: #274686;
    font-size: 26px;
    font-weight: 800;
    margin-right: 84px;
    margin-left: 15px;
}

.float-right {
    justify-content: right;
}

.subtotal-price {
    font-size: 24px;
}

.subtotal {
    font-size: 14px;
}

.icon-basket {
    width: 30px;
    height: 23px;
    margin-top: 2px;
    margin-right: 15px;
}

.items-counter {
    background-color: #10A2DC;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    padding: 5px 0;
    font-size: 14px;
}

.shopping-cart-header {
    margin-top: 22px;
}

.shopping-cart-header .shopping-cart-btn {
    margin-top: 5px !important;
    margin-right: -5px !important;
}

.shopping-cart-btn-row {
    height: 30px;
    cursor: pointer;
}

.no-left-padding {
    padding-left: 0;
}

.no-items-message {
    font-size: 14px;
    text-align: center;
}



