<header>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
        <strong>Style Gallery</strong>
      </a>
      <button type="submit" class="primary-btn nav-btn" routerLink='/catalog'>GO BACK TO CATALOG</button>
   </div>
  </div>
</header>

<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">{{data.message.name}} Welcome To Style Gallery!</h1>
      <p class="lead text-muted">Click on below buttons to view styling options available for Shirts.</p>
      <p>
        <a class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" [routerLinkActive]="['active']" [routerLink]="['./allGraphics']">Graphics
        </a>
        <a class="btn btn-secondary btn-lg active" role="button" aria-pressed="true" [routerLinkActive]="['active']" [routerLink]="['./allColors']">Tshirt Colors
        </a>
      </p>
       <router-outlet></router-outlet>
    </div>
  </section>
</main>

