<div class="container-fluid">
  <div class="img-container">
    <img src="{{fractalPath}}">
  </div>
  <div class="row" >
    <div class="center-column" appBackgroundChange color='grey'>
      <img class="vertical-logo" src="{{verticalLogoPath}}">
      <div *appStructuralUnless="condition" class="copyright text-center">© 2018 DEV6 – A division of The New Toronto Group Inc.</div>
    </div>
    <div class="side-column shipping-col">
      <ngb-tabset class="home-tabs" [justify]="'center'" #tab="ngbTabset">
        <ngb-tab title="Sign up" id="shipping">
          <ng-template ngbTabContent>
            <app-signup-user-info></app-signup-user-info>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>