<div class="shipping-info-container">
  <form #f="ngForm" (ngSubmit)="goToPayment()" novalidate>
    <div class="row shipping-info-header">
      <div class="shipping-info-title">Shipping Info</div>
    </div>
    <hr>
    <div>
      <div class="row">
        <div class="col">
          <label for="name">Name</label>
          <input type="text" id="name" required  placeholder="Johnny Appleseed">
   
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="email">Email</label>
          <input type="email" id="email"  pattern="[^ @]*@[^ @]*" name="email" class="form-control" 
            placeholder="johnny5@nova-industries.com">
         
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="phone">Phone Number</label>
          <input type="tel" id="phone" name="phone" minlength=10 maxlength=10 required #phone="ngModel" pattern="^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$"
            class="form-control" [(ngModel)]="model.phone" placeholder="555-123-1234">
          <div class="validation-error" *ngIf="phone.errors && (phone.dirty || phone.touched)">
            <p *ngIf="phone.errors.required">Phone is required</p>
            <p *ngIf="phone.errors.pattern">Phone must contain numbers</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="address1">Address 1</label>
          <input type="text" id="address1" required  name="address1" class="form-control" 
            placeholder="123 Anywhere Ave.">
         
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="address2">Address 2</label>
          <input type="text" id="address2"  name="address2" class="form-control"  placeholder="Suite 101">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="city">City</label>
          <input type="text" id="city" class="form-control" required  name="city"  placeholder="Toronto">
          
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="country">Country</label>
          <br>
          <select class="form-control" id="country" required  name="country" (change)="selectCountry($event.currentTarget.value)">
            <option [ngValue]="" selected="selected">Select Option</option>
            <option *ngFor="let country of countries" [value]="country" (click)="selectCountry(country)">{{country}}</option>
          </select>
         
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <label for="province">Province/State</label>
          <br>
          <select class="form-control" id="province" required  name="province"  (change)="selectState($event.currentTarget.value)">
            <option value="" selected="selected">Select</option>
            <option *ngFor="let province of states[model.country]" [value]="province" (click)="selectState(province)">{{province}}</option>
          </select>
         
        </div>
        <div class="col-6">
          <label for="postal">Postal Code</label>
          <input type="text" id="postal" name="postal" required  pattern="^[A-Za-z]\d[A-Za-z][ -]?\d[A-Za-z]\d$"
            class="form-control" placeholder="L5N 2N5">
         
        </div>
      </div>
    </div>
    <div class="float-right go-to-payment">
      <button type="button" class="primary-danger-btn" (click)="cancel()">Cancel</button>
      <button type="submit" class="primary-btn">GO TO PAYMENT</button>
    </div>
  </form>
</div>