<div class="signup-container">
  <form>
    <div class="form-group">
      <label for="email">Email Address</label>
      <input type="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="pwd">Password</label>
      <input type="password" class="form-control">
    </div>
    <div class="form-group">
      <label for="pwd2">Confirm Password</label>
      <input type="password" class="form-control">
    </div>
    <p>{{termsOfUse}}</p>
    <div class="text-center">
      <button type="button" class="primary-btn" (click)="signup()">SIGN UP</button>
    </div>
  </form>
</div>