
<header>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
        <strong>Style Gallery</strong>
      </a>
      <button type="submit" class="primary-btn nav-btn" routerLink='/catalog'>GO BACK TO CATALOG</button>
   </div>
  </div>
</header>

<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Welcome To TShirts Database</h1>
      <p class="lead text-muted">Click on below buttons to view styling options available for Shirts.</p>
      <p>
          <button class="btn btn-primary" (click)="doGETAll()">GET ALL</button>
        <button class="btn btn-primary" (click)="doGET()">GET</button>
        <button class="btn btn-primary" (click)="doPOST()">POST</button>
        <button class="btn btn-primary" (click)="doPUT()">PUT</button>
        <button class="btn btn-primary" (click)="doDELETE()">DELETE</button>
      </p>
      <div class="m-t-1">
        <button class="btn btn-secondary" (click)="doGETAsPromise()">As Promise</button>
        <button class="btn btn-secondary" (click)="doGETAsPromiseError()">Error as Promise</button>
        <button class="btn btn-secondary" (click)="doGETAsObservableError()">Error as Observable</button>
      </div>
      <div class="m-t-1">
        <button class="btn btn-danger" (click)="doGETWithHeaders()">With Headers</button>
      </div>
      <div class="card-deck">
        <div [@heroState]="result.gender" *ngFor="let result of results">
          <div class="card border-dark mb-3" style="width: 18rem;">
            <img class="card-img-top" src="../../..{{result.imgSrc}}">
            <div class="card-body text-dark">
              <h5 class="card-title">{{result.name}}</h5>
              <p class="card-text">{{result.type}}</p>
              <p class="card-text">Price: {{result.price}}</p>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </section>
</main>